.flex {
    display: flex;
    background-color: yellow;
    height: 300px;
    flex-direction: column-reverse;
    justify-content: space-around;
    /* flex-wrap: wrap-reverse; */
    align-items: flex-end;
}

.contenido-1 {
    background-color: #ffffff;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}

.contenido-2 {
    background-color: #ffffff;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}

.contenido-3 {
    background-color: #ffc0cb;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}